.centered {
    text-align: left;
}
.yandexLink {
    text-decoration: none;
    color: inherit;
    position: absolute;
    bottom: 0px;
}

@media (min-width: 800px){
    .centered {
        text-align: center;
    }
}