<div class="centered">
  <h1>
    Welcome to {{title}}
  </h1>
</div>

<div>
  <!-- header with app name and icon -->
  <!-- main part with inputField, outputField, and synonyms -->
  <!-- input and output language from rolldown menu, api/languages -->
  <app-dictionary-field></app-dictionary-field>
</div>

<div>
  <a class='yandexLink' href="https://tech.yandex.com/dictionary" target="_blank">"Powered by Yandex.Dictionary" </a>
  <!-- TODO: color must match color of main text, and size must match size of main text -->
</div>
<router-outlet></router-outlet>
